html,
body {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
}

/* Część nawigacji */

nav {
  background-color: #4e4e4e;
}
.main-container {
  width: 960px;
  margin: 0 auto;
  font-family: "Roboto";
}

.nav-box {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
}

.menu-2 {
  display: flex;
  gap: 20px;
}

.menu-2 a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
  text-decoration: none;
}

.menu-2 a.disabled {
  cursor: not-allowed;
}

.menu {
  justify-content: space-between;
}

.link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
  padding: 10px;
}

.link:last-of-type {
  padding-right: 90px;
}

/* //Część header */
.header-flex-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.company-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding-bottom: 30px;
}
.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
header {
  height: calc(100vh - 50px);
  background-image: url(https://i.picsum.photos/id/221/1440/879.jpg?hmac=-y8GQ4KS-tmCflYwphSLZmsTu-m0rL8U6CldcgLjJoA);
  background-size: cover;
}

.header-container {
  width: 577px;
  height: 215px;
}

.slogan-introduction {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 30px;
}
.btn-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #f1f1f1;
  padding: 10px;
  transition: 1s;
}
.btn-offer {
  width: 164px;
  height: 41px;
  background: rgba(0, 0, 0, 0.15);
  border: 3px solid #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
}

.btn-offer:hover {
  background-color: white;
}

.btn-offer:hover > .btn-link {
  color: black;
}

/* Część o nas */
#onas {
  background-color: #f1f1f1;
}
.workers {
  font-weight: 700;
  font-size: 36px;

  padding-top: 51px;
  background-color: #f1f1f1;
}

.employee-picture {
  width: 221px;
  height: 220uipx;
  border-radius: 50%;
  background-image: url("Pracownik.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.team-member {
  display: flex;
  align-items: center;
  margin-top: 44px;
  font-size: 18px;
}

.team-member:nth-of-type(2) {
  flex-direction: row-reverse;
  padding-bottom: 44px;
}

.team-member:nth-of-type(2) .employee-details {
  text-align: end;
  margin-right: 44px;
  margin-left: 0;
}

.employee-details {
  width: 72%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  margin-left: 44px;
}

.employee-name {
  height: 50%;
  font-weight: bolder;
}
.employee-description {
  height: 50%;
  font-weight: 400;
}

/* Usługi */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#services {
  background-color: #405d78;
}
.services-container > .service {
  width: 198px;
  height: 193px;
  background-color: #f1f1f1;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-one {
  position: relative;
}

.first-one > div {
  position: absolute;
  background-color: #e07a64;
  height: 22px;
  width: 22px;
  left: -10px;
  top: -10px;
  border-radius: 180px;
}

.serv-description {
  font-size: 20px;
}
.services-header {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  padding-top: 30px;
}
.service {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service:hover {
  transform: scale(1.05);
}
/* Footer */

.footer-bar {
  width: 100%;
  height: 71px;

  display: flex;
  justify-content: space-between;
}
.footer-note {
  margin-top: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.icons {
  margin-top: 24px;

  color: #ffffff;
  justify-content: space-between;
}
.fa-instagram {
  padding-right: 18px;
}
footer {
  background-color: #4e4e4e;
}
